@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar{
    display: none;
}
body,.bg2 {
    background: linear-gradient(90deg,rgb(1, 20, 42),rgb(1, 20, 42),rgb(2, 31, 64));
}
.bg{
    background: rgb(4, 0, 20);
}

