@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar{
    display: none;
}
body,
.TopBar {
    background-color: rgb(20, 19, 26);
}
.Sidebar,
.TechProj,
.MoreProj {
    background-color: rgb(28, 27, 35);
}